<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.domain_hr.mapperdata.CommonHrMapper">

    <select id="getMaxTime" resultType="java.util.Map" parameterType="java.lang.String">
        select
        max(CONVERT(datetime, G_CreateDate, 101)) as maxCreateTime,
        max(CONVERT(datetime, G_UpdateDate, 101)) as maxUpdateTime
        from ${tableName}
    </select>

    <select id="getPersonnelMaxTime" resultType="java.util.Map" parameterType="java.lang.String">
        select
        max(CONVERT(datetime, P_InputDate, 101)) as maxCreateTime,
        max(CONVERT(datetime, P_ModifyDate, 101)) as maxUpdateTime
        from ${tableName}
    </select>

</mapper>