<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.domain_hr.mapper.DataInOrgStruMapper">

    <insert id="insertOrgStruAll" parameterType="java.util.Map">
        INSERT INTO domain_org_structure
        (group_code,
        group_name,
        parent_id,
        show_order,
        level,
        group_tel,
        address,
        personnel_no,
        company,
        module,
        sub_module,
        grade,
        direct_leader,
        dept_top_leader,
        unit_top_leader,
        enable_time,
        delete_flag,
        remark,
        create_time,
        create_personnel_no,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.group_code},
            #{item.group_name},
            #{item.parent_id},
            #{item.show_order},
            #{item.level},
            #{item.group_tel},
            #{item.address},
            #{item.personnel_no},
            #{item.company},
            #{item.module},
            #{item.sub_module},
            #{item.grade},
            #{item.direct_leader},
            #{item.dept_top_leader},
            #{item.unit_top_leader},
            #{item.enable_time},
            #{item.delete_flag},
            #{item.remark},
            #{item.create_time},
            'admin',
            #{item.update_time})
        </foreach>
    </insert>

    <delete id="deleteOrgStruAll">
        delete from domain_org_structure where create_personnel_no = 'admin'
    </delete>


    <update id="updateOrgStruAll" parameterType="java.util.Map">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update domain_org_structure
            <set>
                group_name = #{item.group_name},
                parent_id = #{item.parent_id},
                show_order = #{item.show_order},
                level = #{item.level},
                group_tel = #{item.group_tel},
                address = #{item.address},
                personnel_no = #{item.personnel_no},
                company = #{item.company},
                module = #{item.module},
                sub_module = #{item.sub_module},
                grade = #{item.grade},
                direct_leader = #{item.direct_leader},
                dept_top_leader = #{item.dept_top_leader},
                unit_top_leader = #{item.unit_top_leader},
                enable_time = #{item.enable_time},
                delete_flag = #{item.delete_flag},
                remark = #{item.remark},
                update_time = #{item.update_time}
            </set>
            where group_code = ${item.group_code}
        </foreach>
    </update>

</mapper>