<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.domain_hr.mapper.DataInEmployeeInfoMapper">

    <sql id="org">
        id,
        personnel_no,
        name,
        once_name,
        sex,
        marriage_status,
        birth_date,
        native_place,
        register_residence,
        dwelling_type,
        dwelling,
        weight,
        height,
        blood_type,
        natives,
        diploma,
        professional,
        graduation_school,
        graduation_date,
        english_ability,
        computer_ability,
        mobile,
        home_phone,
        email,
        group_id,
        work_type,
        duty,
        position_type,
		position_serial,
		position,
		position_level,
		join_date,
		personnel_status,
		foregin,
		person_type,
		work_address,
		position_code,
		duty_level,
		card_type,
		card_name,
		card_no,
		delete_flag,
		remark,
		create_personnel_no,
        create_time,
        update_time
    </sql>


    <insert id="insertEmployeeInfoAll" parameterType="java.util.Map">
        INSERT INTO domain_employee_info
        (
        id,
        personnel_no,
        name,
        once_name,
        sex,
        marriage_status,
        birth_date,
        native_place,
        register_residence,
        dwelling_type,
        dwelling,
        weight,
        height,
        blood_type,
        natives,
        diploma,
        professional,
        graduation_school,
        graduation_date,
        english_ability,
        computer_ability,
        mobile,
        home_phone,
        email,
        group_id,
        work_type,
        duty,
        position_type,
        position_serial,
        position,
        position_level,
        join_date,
        personnel_status,
        foregin,
        person_type,
        work_address,
        position_code,
        duty_level,
        card_type,
        card_name,
        card_no,
        delete_flag,
        remark,
        create_personnel_no,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.personnel_no},
            #{item.name},
            #{item.once_name},
            #{item.sex},
            #{item.marriage_status},
            #{item.birth_date},
            #{item.native_place},
            #{item.register_residence},
            #{item.dwelling_type},
            #{item.dwelling},
            #{item.weight},
            #{item.height},
            #{item.blood_type},
            #{item.natives},
            #{item.diploma},
            #{item.professional},
            #{item.graduation_school},
            #{item.graduation_date},
            #{item.english_ability},
            #{item.computer_ability},
            #{item.mobile},
            #{item.home_phone},
            #{item.email},
            #{item.group_id},
            #{item.work_type},
            #{item.duty},
            #{item.position_type},
            #{item.position_serial},
            #{item.position},
            #{item.position_level},
            #{item.join_date},
            #{item.personnel_status},
            #{item.foregin},
            #{item.person_type},
            #{item.work_address},
            #{item.position_code},
            #{item.duty_level},
            #{item.card_type},
            #{item.card_name},
            #{item.card_no},
            #{item.delete_flag},
            #{item.remark},
            'admin',
            #{item.create_time},
            #{item.update_time}
            )
        </foreach>
    </insert>

    <delete id="deleteEmployeeInfoAll">
        delete from domain_employee_info where create_personnel_no = 'admin'
    </delete>


    <update id="updateEmployeeInfoAll" parameterType="java.util.Map">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update domain_employee_info
            <set>
                id = #{item.id},
                personnel_no = #{item.personnel_no},
                name = #{item.name},
                once_name = #{item.once_name},
                sex = #{item.sex},
                marriage_status = #{item.marriage_status},
                birth_date = #{item.birth_date},
                native_place = #{item.native_place},
                register_residence = #{item.register_residence},
                dwelling_type = #{item.dwelling_type},
                dwelling = #{item.dwelling},
                weight = #{item.weight},
                height = #{item.height},
                blood_type = #{item.blood_type},
                natives = #{item.natives},
                diploma = #{item.diploma},
                professional = #{item.professional},
                graduation_school = #{item.graduation_school},
                graduation_date = #{item.graduation_date},
                english_ability = #{item.english_ability},
                computer_ability = #{item.computer_ability},
                mobile = #{item.mobile},
                home_phone = #{item.home_phone},
                email = #{item.email},
                group_id = #{item.group_id},
                work_type = #{item.work_type},
                duty = #{item.duty},
                position_type = #{item.position_type},
                position_serial = #{item.position_serial},
                position = #{item.position},
                position_level = #{item.position_level},
                join_date = #{item.join_date},
                personnel_status = #{item.personnel_status},
                foregin = #{item.foregin},
                person_type = #{item.person_type},
                work_address = #{item.work_address},
                position_code = #{item.position_code},
                duty_level = #{item.duty_level},
                card_type = #{item.card_type},
                card_name = #{item.card_name},
                card_no = #{item.card_no},
                delete_flag = #{item.delete_flag},
                remark = #{item.remark},
                create_time = #{item.create_time},
                update_time = #{item.update_time}
            </set>
            where id = ${item.id}
        </foreach>
    </update>


</mapper>