<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.domain.hr.mapper.DomainEmployeeInfoMapper">

    <resultMap id="Base_Result_Map_Emp_Org" type="com.gw.domain.hr.entity.po.DomainEmpOrgResultPo">

        <id column="person_id" jdbcType="BIGINT" property="id" />
        <result column="person_number" jdbcType="VARCHAR" property="personnelNo" />
        <result column="is_formal" jdbcType="INTEGER" property="isFormal" />
        <result column="is_foreign" jdbcType="INTEGER" property="isForeign" />
        <result column="country" jdbcType="INTEGER" property="country" />
        <result column="certificate_type" jdbcType="INTEGER" property="certificateType" />
        <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
        <result column="id_card_number" jdbcType="VARCHAR" property="idCardNumber" />
        <result column="certificate_name" jdbcType="VARCHAR" property="certificateName" />
        <result column="chinese_name" jdbcType="VARCHAR" property="name" />
        <result column="name_used" jdbcType="VARCHAR" property="nameUsed" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="marriage" jdbcType="INTEGER" property="marriage" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthDate" />
        <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
        <result column="registered_residence" jdbcType="VARCHAR" property="registeredResidence" />
        <result column="live_type" jdbcType="INTEGER" property="liveType" />
        <result column="current_live_place" jdbcType="VARCHAR" property="currentLivePlace" />
        <result column="weight" jdbcType="VARCHAR" property="weight" />
        <result column="height" jdbcType="VARCHAR" property="height" />
        <result column="blood_type" jdbcType="INTEGER" property="bloodType" />
        <result column="political_affiliation" jdbcType="INTEGER" property="politicalAffiliation" />
        <result column="nation" jdbcType="INTEGER" property="nation" />
        <result column="health" jdbcType="VARCHAR" property="health" />
        <result column="resume_number" jdbcType="VARCHAR" property="resumeNumber" />
        <result column="house_number" jdbcType="VARCHAR" property="houseNumber" />
        <result column="dwelling_unit" jdbcType="VARCHAR" property="dwellingUnit" />
        <result column="work_address" jdbcType="INTEGER" property="workAddress" />
        <result column="diploma" jdbcType="INTEGER" property="diploma" />
        <result column="education_type" jdbcType="INTEGER" property="educationType" />
        <result column="recruitment_sources" jdbcType="INTEGER" property="recruitmentSources" />
        <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool" />
        <result column="professional" jdbcType="VARCHAR" property="professional" />
        <result column="graduate_time" jdbcType="TIMESTAMP" property="graduateTime" />
        <result column="english_ability" jdbcType="INTEGER" property="englishAbility" />
        <result column="computer_ability" jdbcType="INTEGER" property="computerAbility" />
        <result column="certificate" jdbcType="VARCHAR" property="certificate" />
        <result column="other_language" jdbcType="VARCHAR" property="otherLanguage" />
        <result column="phone_number" jdbcType="VARCHAR" property="mobile" />
        <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="qq" jdbcType="VARCHAR" property="qq" />
        <result column="title" jdbcType="INTEGER" property="title" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
        <result column="work_type" jdbcType="INTEGER" property="workType" />
        <result column="duty" jdbcType="INTEGER" property="duty" />
        <result column="category" jdbcType="INTEGER" property="category" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
        <result column="position" jdbcType="INTEGER" property="position" />
        <result column="rank" jdbcType="INTEGER" property="rank" />
        <result column="position_code" jdbcType="VARCHAR" property="positionCode" />
        <result column="post_practice_stage" jdbcType="INTEGER" property="postPracticeStage" />
        <result column="subdivision_post" jdbcType="VARCHAR" property="subdivisionPost" />
        <result column="duty_rank" jdbcType="INTEGER" property="dutyRank" />
        <result column="admission_date" jdbcType="TIMESTAMP" property="joinDate" />
        <result column="state" jdbcType="INTEGER" property="personnelStatus" />
        <result column="direct_leader_id" jdbcType="INTEGER" property="directLeaderId" />
        <result column="approval_power_number" jdbcType="VARCHAR" property="approvalPowerNumber" />
        <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="photo_file_code" jdbcType="VARCHAR" property="photoFileCode" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="deleteFlag" />
        <result column="person_remark" jdbcType="VARCHAR" property="personRemark" />
        <result column="english_score" jdbcType="VARCHAR" property="englishScore" />
        <result column="is_commitment" jdbcType="INTEGER" property="isCommitment" />
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
        <result column="person_mechanism" jdbcType="VARCHAR" property="personMechanism" />
        <result column="recruiter" jdbcType="VARCHAR" property="recruiter" />
        <result column="back_school_time" jdbcType="VARCHAR" property="backSchoolTime" />
        <result column="group_name" jdbcType="TIMESTAMP" property="groupName" />
        <result column="unit_id" jdbcType="TIMESTAMP" property="unitId" />
        <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
        <result column="department_id" jdbcType="TIMESTAMP" property="departmentId" />
        <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
        <result column="dutyName" jdbcType="VARCHAR" property="dutyName" />
        <result column="diplomaName" jdbcType="VARCHAR" property="diplomaName" />
    </resultMap>

    <sql id="Select_Field" >
        domain_employee_info.person_id,
        domain_employee_info.person_number,
        domain_employee_info.is_formal,
        domain_employee_info.is_foreign,
        domain_employee_info.country,
        domain_employee_info.certificate_type,
        domain_employee_info.certificate_number,
        domain_employee_info.id_card_number,
        domain_employee_info.certificate_name,
        domain_employee_info.chinese_name,
        domain_employee_info.name_used,
        domain_employee_info.sex,
        domain_employee_info.marriage,
        domain_employee_info.birthday,
        domain_employee_info.native_place,
        domain_employee_info.registered_residence,
        domain_employee_info.live_type,
        domain_employee_info.current_live_place,
        domain_employee_info.weight,
        domain_employee_info.height,
        domain_employee_info.blood_type,
        domain_employee_info.political_affiliation,
        domain_employee_info.nation,
        domain_employee_info.health,
        domain_employee_info.resume_number,
        domain_employee_info.house_number,
        domain_employee_info.dwelling_unit,
        domain_employee_info.work_address,
        domain_employee_info.diploma,
        domain_employee_info.education_type,
        domain_employee_info.recruitment_sources,
        domain_employee_info.graduate_school,
        domain_employee_info.professional,
        domain_employee_info.graduate_time,
        domain_employee_info.english_ability,
        domain_employee_info.computer_ability,
        domain_employee_info.certificate,
        domain_employee_info.other_language,
        domain_employee_info.phone_number,
        domain_employee_info.home_phone,
        domain_employee_info.email,
        domain_employee_info.qq,
        domain_employee_info.title,
        domain_employee_info.group_id,
        domain_employee_info.work_type,
        domain_employee_info.duty,
        domain_employee_info.category,
        domain_employee_info.grade,
        domain_employee_info.position,
        domain_employee_info.rank,
        domain_employee_info.position_code,
        domain_employee_info.post_practice_stage,
        domain_employee_info.subdivision_post,
        domain_employee_info.duty_rank,
        domain_employee_info.admission_date,
        domain_employee_info.state,
        domain_employee_info.direct_leader_id,
        domain_employee_info.approval_power_number,
        domain_employee_info.bank_card,
        domain_employee_info.remark,
        domain_employee_info.photo_file_code,
        domain_employee_info.create_time,
        domain_employee_info.create_user_id,
        domain_employee_info.update_user_id,
        domain_employee_info.update_time,
        domain_employee_info.is_delete,
        domain_employee_info.person_remark,
        domain_employee_info.english_score,
        domain_employee_info.is_commitment,
        domain_employee_info.create_user_name,
        domain_employee_info.person_mechanism,
        domain_employee_info.recruiter,
        domain_employee_info.back_school_time
    </sql>

    <!-- ................................................................分割线以下为新封装sql...........................................................................;-->
    <sql id="Base_Where_Clause_Emp_Org" >
        <where>
            <trim prefixOverrides="and">
                <if test="nameLike != null">and domain_employee_info.chinese_name like CONCAT(#{nameLike,jdbcType=VARCHAR},'%') </if>
                <if test="personnelNo != null">and domain_employee_info.person_number = #{personnelNo, jdbcType=VARCHAR} </if>
                <if test="groupId != null">and domain_employee_info.group_id = #{groupId,jdbcType=INTEGER} </if>
                <if test="groupName != null">and domain_org_structure.group_name = #{groupName,jdbcType=INTEGER} </if>
                <if test="personnelStatus != null">and domain_employee_info.state = #{personnelStatus,jdbcType=BIT} </if>
                <if test="createTime != null">and domain_employee_info.create_time > #{createTime,jdbcType=TIMESTAMP} </if>
                <if test="updateTime != null">and domain_employee_info.update_time > #{updateTime,jdbcType=TIMESTAMP} </if>
                <if test="unitId != null">and domain_org_structure.unit_id = #{unitId,jdbcType=INTEGER} </if>
                <if test="unitName != null">and domain_org_structure.unit_name = #{unitName,jdbcType=TIMESTAMP} </if>
                <if test="departmentId != null">and domain_org_structure.department_id = #{departmentId,jdbcType=INTEGER} </if>
                <if test="departmentName != null">and domain_org_structure.department_name = #{departmentName,jdbcType=TIMESTAMP} </if>
            </trim>
            and domain_employee_info.group_id = domain_org_structure.id
            and (basic2.value_type = 'Diploma' and domain_employee_info.diploma = basic2.value_no)
            and (basic1.value_type = 'Duty' and domain_employee_info.duty = basic1.value_no)
        </where>
    </sql>

    <sql id="Select_Field_Emp_Org">
        domain_org_structure.unit_id,
        domain_org_structure.unit_name,
        domain_org_structure.department_id,
        domain_org_structure.department_name,
        domain_org_structure.group_name,
        basic2.value_content as diplomaName,
        basic1.value_content as dutyName,
        <include refid="Select_Field"/>
    </sql>

    <select id="employeeListCount" parameterType="com.gw.domain.hr.entity.po.DomainEmpOrgRequestPo" resultType="Integer">
        select
         count(1)
        from domain_employee_info, domain_org_structure, domain_basic_info basic1, domain_basic_info basic2
        <include refid="Base_Where_Clause_Emp_Org"/>
    </select>

    <select id="employeeList" parameterType="com.gw.domain.hr.entity.po.DomainEmpOrgRequestPo" resultMap="Base_Result_Map_Emp_Org">
        select
        <include refid="Select_Field_Emp_Org"/>
        from domain_employee_info, domain_org_structure, domain_basic_info basic1, domain_basic_info basic2
        <include refid="Base_Where_Clause_Emp_Org"/>
        <if test="page!=null and page > -1">
            limit ${page} ,${size}
        </if>
    </select>

    <select id="selectMaxCreateTime" resultType="java.lang.String">
        select max(create_time) from domain_employee_info
    </select>

    <select id="selectMaxUpdateTime" resultType="java.lang.String">
        select max(update_time) from domain_employee_info
    </select>
</mapper>
