<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.domain-hr.mapper.DomainOrgStructureMapper">
    <resultMap id="Base_Result_Map" type="com.gw.domain-hr.entity.DomainOrgStructure">

        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="show_order" jdbcType="INTEGER" property="showOrder" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="group_tel" jdbcType="VARCHAR" property="groupTel" />
        <result column="address" jdbcType="INTEGER" property="address" />
        <result column="personnel_no" jdbcType="VARCHAR" property="personnelNo" />
        <result column="company" jdbcType="VARCHAR" property="company" />
        <result column="module" jdbcType="VARCHAR" property="module" />
        <result column="sub_module" jdbcType="VARCHAR" property="subModule" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
        <result column="direct_leader" jdbcType="VARCHAR" property="directLeader" />
        <result column="dept_top_leader" jdbcType="VARCHAR" property="deptTopLeader" />
        <result column="unit_top_leader" jdbcType="VARCHAR" property="unitTopLeader" />
        <result column="enable_time" jdbcType="TIMESTAMP" property="enableTime" />
        <result column="delete" jdbcType="BIT" property="delete" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_personnel_no" jdbcType="VARCHAR" property="createPersonnelNo" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_personnel_no" jdbcType="VARCHAR" property="updatePersonnelNo" />
    </resultMap>

    <sql id="Select_Field" >
        domain_org_structure.group_name,
        domain_org_structure.parent_id,
        domain_org_structure.show_order,
        domain_org_structure.level,
        domain_org_structure.group_tel,
        domain_org_structure.address,
        domain_org_structure.personnel_no,
        domain_org_structure.company,
        domain_org_structure.module,
        domain_org_structure.sub_module,
        domain_org_structure.grade,
        domain_org_structure.direct_leader,
        domain_org_structure.dept_top_leader,
        domain_org_structure.unit_top_leader,
        domain_org_structure.enable_time,
        domain_org_structure.delete,
        domain_org_structure.remark,
        domain_org_structure.create_time,
        domain_org_structure.create_personnel_no,
        domain_org_structure.update_time,
        domain_org_structure.update_personnel_no
    </sql>

    <sql id="Base_Option_Clause">
        <if test="groupName != null">
            group_name = #{groupName},
        </if>
        <if test="parentId != null">
            parent_id = #{parentId},
        </if>
        <if test="showOrder != null">
            show_order = #{showOrder},
        </if>
        <if test="level != null">
            level = #{level},
        </if>
        <if test="groupTel != null">
            group_tel = #{groupTel},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="personnelNo != null">
            personnel_no = #{personnelNo},
        </if>
        <if test="company != null">
            company = #{company},
        </if>
        <if test="module != null">
            module = #{module},
        </if>
        <if test="subModule != null">
            sub_module = #{subModule},
        </if>
        <if test="grade != null">
            grade = #{grade},
        </if>
        <if test="directLeader != null">
            direct_leader = #{directLeader},
        </if>
        <if test="deptTopLeader != null">
            dept_top_leader = #{deptTopLeader},
        </if>
        <if test="unitTopLeader != null">
            unit_top_leader = #{unitTopLeader},
        </if>
        <if test="enableTime != null">
            enable_time = #{enableTime},
        </if>
        <if test="delete != null">
            delete = #{delete},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="createPersonnelNo != null">
            create_personnel_no = #{createPersonnelNo},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="updatePersonnelNo != null">
            update_personnel_no = #{updatePersonnelNo}
        </if>
    </sql>

    <sql id="Insert_Option_Clause">
        <if test="groupName != null">
            #{groupName},
        </if>
        <if test="parentId != null">
            #{parentId},
        </if>
        <if test="showOrder != null">
            #{showOrder},
        </if>
        <if test="level != null">
            #{level},
        </if>
        <if test="groupTel != null">
            #{groupTel},
        </if>
        <if test="address != null">
            #{address},
        </if>
        <if test="personnelNo != null">
            #{personnelNo},
        </if>
        <if test="company != null">
            #{company},
        </if>
        <if test="module != null">
            #{module},
        </if>
        <if test="subModule != null">
            #{subModule},
        </if>
        <if test="grade != null">
            #{grade},
        </if>
        <if test="directLeader != null">
            #{directLeader},
        </if>
        <if test="deptTopLeader != null">
            #{deptTopLeader},
        </if>
        <if test="unitTopLeader != null">
            #{unitTopLeader},
        </if>
        <if test="enableTime != null">
            #{enableTime},
        </if>
        <if test="delete != null">
            #{delete},
        </if>
        <if test="remark != null">
            #{remark},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="createPersonnelNo != null">
            #{createPersonnelNo},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="updatePersonnelNo != null">
            #{updatePersonnelNo}
        </if>
    </sql>

    <sql id="Base_Where_Clause" >
        <where>
            <trim prefixOverrides="and">
                <if test="groupName != null and groupName != ''">and domain_org_structure.group_name = #{groupName,jdbcType=VARCHAR} </if>
                <if test="parentId != null">and domain_org_structure.parent_id = #{parentId,jdbcType=INTEGER} </if>
                <if test="showOrder != null">and domain_org_structure.show_order = #{showOrder,jdbcType=INTEGER} </if>
                <if test="level != null">and domain_org_structure.level = #{level,jdbcType=INTEGER} </if>
                <if test="groupTel != null and groupTel != ''">and domain_org_structure.group_tel = #{groupTel,jdbcType=VARCHAR} </if>
                <if test="address != null">and domain_org_structure.address = #{address,jdbcType=INTEGER} </if>
                <if test="personnelNo != null and personnelNo != ''">and domain_org_structure.personnel_no = #{personnelNo,jdbcType=VARCHAR} </if>
                <if test="company != null and company != ''">and domain_org_structure.company = #{company,jdbcType=VARCHAR} </if>
                <if test="module != null and module != ''">and domain_org_structure.module = #{module,jdbcType=VARCHAR} </if>
                <if test="subModule != null and subModule != ''">and domain_org_structure.sub_module = #{subModule,jdbcType=VARCHAR} </if>
                <if test="grade != null">and domain_org_structure.grade = #{grade,jdbcType=INTEGER} </if>
                <if test="directLeader != null and directLeader != ''">and domain_org_structure.direct_leader = #{directLeader,jdbcType=VARCHAR} </if>
                <if test="deptTopLeader != null and deptTopLeader != ''">and domain_org_structure.dept_top_leader = #{deptTopLeader,jdbcType=VARCHAR} </if>
                <if test="unitTopLeader != null and unitTopLeader != ''">and domain_org_structure.unit_top_leader = #{unitTopLeader,jdbcType=VARCHAR} </if>
                <if test="enableTime != null">and domain_org_structure.enable_time = #{enableTime,jdbcType=TIMESTAMP} </if>
                <if test="delete != null">and domain_org_structure.delete = #{delete,jdbcType=BIT} </if>
                <if test="remark != null and remark != ''">and domain_org_structure.remark = #{remark,jdbcType=VARCHAR} </if>
                <if test="createTime != null">and domain_org_structure.create_time = #{createTime,jdbcType=TIMESTAMP} </if>
                <if test="createPersonnelNo != null and createPersonnelNo != ''">and domain_org_structure.create_personnel_no = #{createPersonnelNo,jdbcType=VARCHAR} </if>
                <if test="updateTime != null">and domain_org_structure.update_time = #{updateTime,jdbcType=TIMESTAMP} </if>
                <if test="updatePersonnelNo != null and updatePersonnelNo != ''">and domain_org_structure.update_personnel_no = #{updatePersonnelNo,jdbcType=VARCHAR} </if>
            </trim>
        </where>
        <choose>
            <when test="sortString!=null and sortString!=''">
                order by ${sortString}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>

    </sql>
</mapper>
